/*safedelete css*/
div a.link-button {
  display: inline-block;
  color: #ffffff;
  background-color: #3498db;
  border: solid 1px #3498db;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 12px 25px;
  text-transform: capitalize;
  border-color: #3498db;
}