{{ attach_library('safedelete/safedelete') }}

{% if showconfigsettinglink %}
<div id="orphanedpage_configsettnglink">
  <a class="link-button" href="{{ vars_array['config_url'] }}">configure orphaned page settings</a>
</div>
{% endif %}
<div id="orphanedpage_divspace"> <span> &nbsp;&nbsp; </span> </div>
<div id="orphanedpage_reporteddate"> <span><strong> Reported Date:</strong>&nbsp;{{ orphanedpages_container.reporteddate }}</span></div>
<table class="table table-orphaned-pages" border="1px solid black;">
  <thead class="">
    <tr class="">
      <th class="text-align: center;" width= "5%">Node Id</th>
      <th class="th-type" width="15%">Type</th>
      <th class="th-title" width="50%">Title</th>
      <th class="th-reason" width="35%">Reason</th>
    </tr>
  </thead>
  {% for nodekey, nodevalues in orphanedpages_container.orphanedpages_results %}
    <tbody class="" >
      <tr class="">
        <td class="text-align: center;" width= "10%">{{ nodevalues.nid}}</td>
        <td class="">{{ nodevalues.type}}</td>
        <td class=""><a href="{{ nodevalues.href }}">{{ nodevalues.title |raw }}</a></td>
        <td class="">{{ nodevalues.reason}}</td>
      </tr>
    </tbody>
  {% endfor %}
</table>
